
<div class="container">
<!-- <input name="title" #searchTerm>
<button (searchProf )="performSearch(searchTerm)">Search</button> -->
<!-- <p>{{users.login}}</p> -->

<app-form (searchProf)="performSearch($event)"></app-form>
<div *ngIf = 'user'>
    <div class="row">
        <div class="col-sm">
            <div class=" testimonial-card">

                <div class="avatar pt-3" style="z-index:4;">
                    <img src="{{user.avatar_url}}" class="width-full border bg-white" alt="avatar"
                        style="height:auto;" alt width="260" height="260">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class=" testimonial-card">

                <div class="card-body">
                    <h4 class="card-title" style=" text-align:center">{{user.login}}</h4>
                    <hr>
                    <div  style="text-align: center;">
                <p>Bio</p>
                    <p>{{user.bio}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            <p>followers</p>
                            {{user.followers}}
                        </div>
                        <div class="col-sm">
                            <p>following</p>
                            {{user.following}}
                        </div>
                        <div class="col-sm">
                            <p>Email</p>
                            {{user.email}}
                        </div>
                        <div class="col-sm">
                            <p>Location</p>{{user.location}}
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

    <div class=" testimonial-card">

        <div class="card-body">
            <h4 class="card-title" style=" text-align:center">{{Repo.}}</h4>
            <hr>
            <div  style="text-align: center;">
        <p>Bio</p>
            <p>{{user.bio}}</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <p>followers</p>
                    {{user.followers}}
                </div>
                <div class="col-sm">
                    <p>following</p>
                    {{user.following}}
                </div>
                <div class="col-sm">
                    <p>Email</p>
                    {{user.email}}
                </div>
                <div class="col-sm">
                    <p>Location</p>{{user.location}}
                </div>
            </div>
            </div>
    </div>
</div>
</div>




