<div class="container">
  <!-- <input name="title" #searchTerm>
<button (searchProf )="performSearch(searchTerm)">Search</button> -->
  <!-- <p>{{users.login}}</p> -->

  <app-form (searchProf)="performSearch($event)"></app-form>
  <div *ngIf="user,repo">
    <div class="row">
      <div class="col-sm">
        <div class="testimonial-card">
          <div class="avatar pt-3" style="z-index: 4">
            <img src="{{ user.avatar_url }}" class="width-full border bg-white" alt="avatar" style="height: auto" alt
              width="260" height="260" />
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="testimonial-card">
          <div class="card-body">
            <h1 class="card-title" style="text-align: center">
              {{ user.login }}
            </h1>
            <hr />
            <div style="text-align: center">
              <p>Bio</p>
              <p>{{ user.bio }}</p>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm">
                <p>followers</p>
                {{ user.followers }}
              </div>
              <div class="col-sm">
                <p>following</p>
                {{ user.following }}
              </div>
              <div class="col-sm">
                <p>Email</p>
                {{ user.email }}
              </div>
              <div class="col-sm">
                <p>Location</p>
                {{ user.location }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="text-align: center;">

    <div class="row" >
        <div class="col-md-6" *ngFor="let repos of userRep" id="card">
            <div class="card mt-3" id="card2">

                <h2 class="text-center pt-4 para">
                  {{repos.name}}  
                </h2>

                            <p>
                    {{repos.description}}
                </p>

                <p>
                    {{repos.language}}
                </p>
               
                <div class="card-footer text-center">
                    <a href="{{ repos.html_url }}" class="btn btn-primary" target="_blank">View on GitHub</a>
                </div>

            </div>
        </div>

    </div>

</div>

</div>