/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
.container{
    background-color: aliceblue;
}
body{
    background-color: aliceblue;;
}

#card{
    background-color:aliceblue;
}
p{
    color:black;
    font-size: 32px;
    font-family: 'Jomhuria', cursive;
}
#input{
    margin: 3px;
}
#card2 :hover{
background-color: rgb(101, 155, 202);
}
h1:hover{
    font-size: 5pc;
    font-family: 'Potta One', cursive;
}